.HealthReport {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  h1 {
    text-align: center;
    color:rgba(0, 0, 0, 0.575);
  }

  .tab-nav {
    display: flex;
    justify-content: space-between; /* Add space between items */
    align-items: center; /* Vertically center items */
    width: 100%;
    background-color: rgb(114, 175, 199);
    padding-right: 20px; /* Add padding to the right */
  }
  
  .tab-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    color: white;
  }
  
  .tab-nav li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .tab-nav li.active {
    font-weight: bold;
  }
  
  .tab-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .table-container {
    flex: 1;
    max-width: 50%;
    min-width: 400px;
    margin: 20px;
  }

  canvas {
    margin: 20px;
    max-width: 400px;
  } 
  
  .heart-rate-wrapper,
  .weight-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weight-tables-wrapper .table-container {
    margin: 20px;
    margin-right: 0px;
  }
  
  .heart-rate-wrapper .table-container {
    margin-right: 20px;
  }
  
  .table-container table {
    border: 1px solid #ddd; /* Add borders to the table */
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid #ddd; /* Add borders to the table cells */
    padding: 8px;
  }
  
  /* Additional CSS to align graphs vertically with their respective tables */
  .weight-wrapper {
    align-items: flex-start; /* Align items to the start of the flex container */
  }
  
  .weight-wrapper canvas {
    max-width: 300px;
    max-height: 300px;
    margin-left: 0px;
  }

  .table-and-chart-container {
    display: flex;
    justify-content: space-between;
  }

  .exercise-wrapper .table-container {
    min-width: 200%;
  }

  .exercise-wrapper {
    width: 80%;
    display: flex;
  }
  
  .exercise-content {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .exercise-chart {
    flex: 1;
  }

  .risk-analysis-textbox {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .risk-analysis-textbox.red {
    background-color: #ffcccc;
  }
  
  .risk-analysis-textbox.green {
    background-color: #ccffcc;
  }

  .calories-wrapper {
    min-width: 50%;
    font-size: 15px;
  }

  .calories-wrapper .td {
    font-size: 10px;
  }

  .options-section {
    position: absolute;
    top: 140px; /* Adjust the top position as needed */
    right: 20px; /* Positioning all the way to the right */
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    background-color: #e0e0e075; /* Adjust the background color as needed */
    border: 1px solid #ccc; /* Adjust the border as needed */
    border-radius: 5px; /* Adjust the border radius as needed */
    text-align: left;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .options-section h2 {
    margin: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .transparent-chart {
    opacity: 0.0;
  }

  .transparent-header {
    color: transparent;
  }

  .transparent-border table, .transparent-border td, .transparent-border th {
    border-color: transparent;
  }

  .options-section label {
    display: flex;
    align-items: right; /* Align items vertically */
    margin-bottom: 10px; /* Adjust vertical spacing between checkboxes */
    width: 100%;
    font-weight:lighter;
    color: black;
  }
  
  .options-section input[type="checkbox"] {
    margin-right: 0px; /* Adjust horizontal spacing between checkbox and label */
    width: 10px;
  }

  .approve-button {
    position: absolute;
    width: 200px;
    top: 0;
    right: 20px;
    background-color: rgb(231, 185, 84);
    color: black;
    margin-top: 20px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .approve-button:hover {
    background-color: rgb(198, 150, 47); /* Change background color to yellow on hover */
  }

  .red-text {
    color: rgb(83, 127, 47);
    font-weight:bold;
  }

  .weight-wrapper .options-section, .exercise-wrapper .options-section {
    height: 350px;
  }

  .popup-heading {
    text-align: center;
    margin-bottom: 10px; /* Add some margin to separate from the paragraph */
  }
  
  .popup-text {
    text-align: left;
    margin: 20px;
  }

  .transparent-textbox .risk-analysis-textbox {
    opacity: 0.5; /* Adjust the opacity value as needed */
  }



  
