.popup {
    position: fixed;
    background-color: white;
    width: 25%;
    height: 300px;
    z-index: 10000;
    margin-left: 37.5%;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:10px;
  }
  
  .blur-background {
    filter: blur(5px); 
  }