.SignIn {
    text-align: center; 
  }
  
  .SignIn form {
    width: 300px; 
    margin: 0 auto; 
  }
  
  .SignIn h2 {
    text-align: center; 
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  label {
    width: 100px; 
    display: inline-block; 
    font-size: 14px; 
    text-align: right; 
    margin-right: 10px; 
  }
  
  input {
    flex: 1; 
  }
  
  button[type="submit"] {
    display: block; 
    margin: 0 auto; 
    margin-top: 20px; 
  }